# Environments and configuration
.venv/
config/

# Data
data/leedsbutterfly/images/
data/leedsbutterfly/segmentations/

# Jupyter notebooks
notebooks/.ipynb_checkpoints

# Assets and media
images/logos

# Report
report/*

!report/main.pdf
